.titleFont {
    margin: auto 5px;
    letter-spacing: 10px;
    width: 666px;
    font-family: jockey one, monospace;
}

.title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

.overview-list > li > svg {
    height: 1.25em;
    fill: #fff;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 5px;
}

.overview-list > li {
    font-size: 1.25em;
    vertical-align: middle;
    font-weight: bold;
    margin: 5px;
}