@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.center {
    align-content: center;
    justify-content: center;
    text-align: center;
}

.adjust {
    padding: 150px;
}
@media only screen and (max-width: 600px) {
    .mission {
        font-size: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .text {
        font-size: 10px;
    }
    .heading {
        font-size: 20px;
    }
    .body-heading {
        font-size: 15px;
    }
    p {
        font-size: 10px !important;
    }
    .adjust {
        padding: 15px
    }
    .main-body {
        margin-left: 10px;
        margin-right: 10px;
    }
}
@media only screen and (max-width: 800px) {
    .mission {
        margin-left: 20px;
        margin-right: 20px;
    }
    .adjust {
        padding: 150px 25px 25px;
    }
    .main-body {
        margin-left: 10px;
        margin-right: 10px;
    }
}