.titleFont {
    margin: auto 5px;
    letter-spacing: 10px;
    width: 666px;
    font-family: jockey one, monospace;
}

.title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

.introduction {
    margin: 10vh 50px 80vh;
    display: flex;
}

.introduction > div {
    flex-grow: 1;
}

.overview-list {
    margin: 10px 0 20px 0;
    list-style: none;
    user-select: none;
}

.overview-list .frosted-glass > svg, .overview-list .frosted-glass > span {
    height: 1em;
    fill: #fff;
    display: inline;
    vertical-align: middle;
}

.overview-list svg {
    margin-right: 5px;
    height: 0.9em !important;
}

.overview-list .frosted-glass {
    font-size: 0.85rem;
    vertical-align: middle;
    font-weight: 700;
    padding: 5px 15px !important;
    margin: 0 !important;
}

.overview-list > li {
    display: inline-block;
}

.overview-list a {
    padding: 5px 10px;
}