.parallax-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.parallax {
    width: 100vw;
    height: 100vh;
    background-size: auto 100%;
    background-position: center;
    overflow: visible;
    position: absolute;
    top: 200px;
    left: 0;
}