.parallax-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.parallax {
    width: 100vw;
    height: 100vh;
    background-size: 100% auto;
    background-position: top;
    overflow: visible;
    position: absolute;
    left: 0;
}