/* Image Slider */
.image-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; /* Sits behind other content */
}

.slide-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide-image.active {
    opacity: 1; /* Only the active image is visible */
}

.slide-image.inactive {
    opacity: 0; /* Hide inactive images */
}
