.nav {
    position: fixed;
    z-index: 1000;
    justify-content: center;
    top: 10px;
    left: 20px;
    right: 20px;
    display: flex;
}

ul {
    padding: 5px;
    list-style: none;
}

ul a {
    padding: 12px 16px;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    font-size: 0.8em;
}

.nav li {
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
}

.brand {
    font-family: "Jockey One", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 17px 20px;
    margin-right: 6px;
    font-size: 1.75em;
    color: #ffffff;
    vertical-align: top;
    display: inline-block;
    user-select: none;
    text-shadow: #000000 0 0 20px;
}

.brand-icon {
    height: 1.75em;
    vertical-align: middle;
    margin-right: 15px;
    box-shadow: 0 0 20px #00000088;
    background: #0000003d;
    border-radius: 15px;
}

li a::after {
    content: '';
    position: absolute;
    background-color: #00ad0c;
    box-shadow: 0 0 20px 2px #00ad0c;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    z-index: -1;
    transform: scale(100%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

li a:hover::after {
    opacity: 0.5;
    transform: scale(90%);
}

li a.active:hover::after {
    animation-name: pulsate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#current a.active::after {
    content: "";
    box-shadow: 0 0 20px 2px #00ad0c;
    background-color: #00ad0c;
    outline: none;
    border-radius: 12px;
    opacity: 1;
    transform: scale(90%);
    transition: background-color 0.5s ease, opacity 0.5s ease;
    /*border-bottom-width: 3px;*/
    /*border-style: solid;*/
    /*border-color: #404850;*/
}
@media only screen and (min-width: 768px) {
    label {
        display: none;
    }

    input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
    }
}
@media only screen and (max-width: 767px) {
    label:before {
        height:2px;
        width:20px;
        background:white;
        display:inline-block;
        content:"";
        box-shadow:0 -5px 0 0 white,
        0 -10px 0 0 white;
        margin-right:10px;
        transition:all .5s;
        position:relative;
        opacity:0.5;
    }
    label {
        display: inline-block;
        background: rgb(51, 51, 51);
        border-radius: 10px;
        padding:10px;
        color:white;
        cursor:pointer;
    }
    input[type="checkbox"] {
        visibility:hidden;
        position:absolute;
    }
    #collapse:not(:checked) ~ li {
        display:none;
        margin-top:0;
    }
    #collapse:not(:checked) + label:before {
        position: relative;
        opacity:1;
    }
}