.nav {
    width: calc(100vw - 50px);
    padding: 25px;
    position: fixed;
    z-index: 1000;
    top: 0;
    display: flex;
    align-items: flex-start;
    background: linear-gradient(180deg, #161616ff 0%, #16161677 75%, #16161600 100%);
}

.nav > * {
    padding: 5px;
}

.nav ul {
    margin: 25px auto;
    list-style: none;
    display: inline-block;
}

.nav li {
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 2px;
}

.nav li:not(:first-of-type) {
    margin-left: 10px;
}

label {
    display: none;
    padding: 8px 10px;
    color: white;
    cursor: pointer;
    float: right;
}

input[type="checkbox"] {
    visibility: hidden;
    position: absolute;
}

@media only screen and (max-width: 767px) {
    .nav li {
        display: block;
    }

    .nav :has(.brand) {
        position: relative !important;
        /*border: none !important;*/
        /*background: none !important;*/
        /*backdrop-filter: unset !important;*/
    }

    label:before {
        content: "";
        height: 1px;
        width: 15px;
        background: white;
        display: inline-block;
        box-shadow: 0 -5px 0 0 white, 0 -10px 0 0 white;
        transition: all .5s;
        position: relative;
        opacity: 0.5;
    }

    label {
        display: inline-block;
    }

    input[type="checkbox"] {
        visibility: hidden;
        position: absolute;
    }

    #collapse:not(:checked) ~ li {
        display: none;
        margin-top: 0;
    }

    #collapse:not(:checked) + label:before {
        position: relative;
        opacity: 1;
    }

    .nav a.active:after, .nav a:after {
        border-radius: 16px !important;
    }
}