@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton&display=swap');

a {
    color: inherit;
    text-decoration: none;
}

.frosted-glass {
    background: rgba(43, 43, 43, 0.33); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(7px); /* Adjust the blur amount */
    display: inline-block;
    border-radius: 18px;
    border: 1px solid #ffffff22;
    color: #ffffff;
    padding: 5px;
}

.glow::after {
    content: "";
    box-shadow: 0 0 20px 2px #00ad0c;
    background-color: #00ad0c;
    outline: none;
    border-radius: 12px;
    opacity: 0.5;
    transform: scale(90%);
    transition: background-color 0.5s ease, opacity 0.5s ease;
    animation-name: pulsate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.glow:hover::after {
    background-color: #00ad0c;
    opacity: 1;
}

@keyframes pulsate {
    0% {
        box-shadow: 0 0 20px 2px #00ad0c;
        opacity: 1;
    }
    50% {
        box-shadow: 0 0 10px 2px #00ad0c99;
        opacity: 0.5;
    }
    100% {
        box-shadow: 0 0 20px 2px #00ad0c;
        opacity: 1;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
    z-index: 1; /* Ensure the overlay is above the background image */
}

.content {
    z-index: 2; /* Ensure the content is on top of the overlay */
    color: white; /* Adjust text color as needed */
}

/*.bg {*/
/*    background-color: #161616;*/
/*}*/

.full {
    height: 100vh;
}

.container {
    position: relative;
    overflow: hidden;
    translate: 0 -5px;
    z-index: 1;
}

.bodyText {
    font-family: neuton, sans-serif;
}

.headingText {
    font-family: 'Jockey One', sans-serif;
}