.container {
    display: flex;
    height: 100%;
    align-items: center;
}

.svg {
    display: block;
    font: 10.5em "Times New Roman";
    width: 1020px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke-dasharray: 6% 29%;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-linejoin: round;
    stroke-linecap: round;
    animation: stroke-offset 8s infinite linear;
}

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}

.llorar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}